//@import "~bootstrap/scss/bootstrap";

.App {
  font-family: Arial, Helvetica, sans-serif sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 700px;
}

.container {
  height: 100vh;
  display: flex;
}

.sideBar {
  &__container {
    background: linear-gradient(180deg, rgba(100, 102, 241, 0.9) 0%, rgba(168, 86, 247, 0.9) 100%);
    display: flex;
    flex-direction: column;
    //align-items: center;
  }
  &__avatar_container {
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #644CC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    h2 {
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: white;
      margin: 15px 0;
    }
  }
  &__img_container {
    height: 190px;
    width: 190px;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  &__btn_notes {
    height: 50px;
    margin-top: 20px;
    background-color: #644CC3;
    border: none;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    transition: .1s all;
    &-all {
      margin-bottom: 60px;
    }
    &:hover {
      background-color: #A856F7;
    }
    &:focus {
      background-color: none;
      border: none;
    }
    
  }
  &__btn_group {
    &-add {
      margin-top: 60px;
    }
    &-cheked {
      margin-top: 10px;
      background-color: #f97517;
      border-color: #4C26E2;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }
    height: 35px;
    margin-top: 10px;
    background-color: #644CC3;
    border: none;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    transition: .1s all;
    &:hover {
      background-color: #A856F7;
    }
    &:focus {
      background-color: none;
      border: none;
    }
  }
  &__input_add {
    margin: 10px 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #644CC3;
    padding: 0 10px;
  }
  &__btn_group_add {
    border: none;
    outline: none;
    background-color: #644CC3;
    margin: 0 50px;
    color: white;
    border-radius: 5px;
    border: 1px solid #644CC3;
    transition: .1s all;
    &:hover {
      background-color: #A856F7;
    }
  }
}

.contentHeader__container {
  height: 130px;
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #644CC3;
  &-title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    background: -webkit-linear-gradient(180deg, #644CC3, #A856F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-stats {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4C26E2;
  }
}

.notesList__container {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.notesItem__container {
  width: 250px;
  height: 300px;
  margin: 10px 5px;
  border-radius: 10px;
  border: 2px solid #A856F7;
  overflow: hidden;
  transition: .1s all;
  &:hover {
    border-color: #f97517;
    cursor: pointer;
  }
  &-title {
    text-align: center;
    border-bottom: 2px solid #A856F7;
  }
  &-MD_container {
    padding: 0 10px;
    text-overflow: ellipsis;
  }
}

.notesItemSelect__container {
  width: 100%;
  min-height: 600px;
  border-radius: 10px;
  border: 2px solid #A856F7;
  &-title {
    &-container {
      padding: 5px 30px;
      border-bottom: 2px solid #644CC3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_btn-edit {
      border: 2px solid #A856F7;
      border-radius: 5px;
      height: 40px;
      width: 70px;
      outline: none;
      background-color: #A856F7;
      color: white;
      font-weight: bold;
      transition: all .1s;
      &:hover {
        background-color: #644CC3;
      }
    }
  }
  &-md-container {
    padding: 10px 30px;
  }
}

.noteCreateForm__container {
  width: 100%;
  min-height: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #A856F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  &-title_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #644CC3;
    border-radius: 5px;
    outline: none;
  }
  &-btn_save {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: normal;
    line-height: 1px;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(100, 102, 241, 0.9) 0%, rgba(168, 86, 247, 0.9) 100%);
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.authorization__container {
  border-radius: 10px;
  border: 2px solid #A856F7;
  height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-label {
    margin-right: 10px;
    font-size: 20px;
    margin: 20px 0 10px 0;
  }
  &-input {
    width: 300px;
    height: 40px;
    padding: 0 5px;
    border: 1px solid #644CC3;
    border-radius: 5px;
    outline: none;
  }
  &-btn {
    width: 300px;
    height: 40px;
    margin-top: 60px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #644CC3;
    outline: none;
    background-color: #644CC3;
    transition: all .1s;
    &:hover {
      background-color: #A856F7;
    }
  }
  &-span {
    color: #644CC3;
    cursor: pointer;
  }
}





.block {
  &-red {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-green {
    border: 1px solid green;
  }
}

.row {
  --bs-gutter-x: none;
}